body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  
}

footer {
  color: white;
}

.Besucherzaehler {
  float: right;
}

.Besucherhintergrund {
  position: relative;
}

.navbar-inverse {
  border-color: #222;
}

#Besucherzaehler {
  margin-top: -23px;
  margin-left: 50px;
  color: #9d9d9d;
  position: absolute;
}

.Startbereich {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
}

.Reservierung {
  background: none;
  border: 3px solid #d9534f;
  color: #d9534f;
  font-size: large;
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}

.Reservierung:hover,
.Reservierung:active {
    color: #FFF;
    background: #d2322d;
}

#ScrollFunktion {
  margin-bottom: 75px;
}

.panel-transparent {
  margin-top: 40px;
  background: none;
  border-color: transparent;
  color: white;
}

.panel-transparent .panel-heading{
  border-color: transparent;
  background: rgba(122, 130, 136, 0.8)!important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-transparent .panel-heading h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-transparent .panel-body{
  border-color: transparent;
  background: rgba(46, 51, 56, 0.8)!important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gaestebuch_header {
  margin: 0px auto;
  display: inline-block;

}

.name {
  float: left;
}

.date {
  float: right;
}

.countdown {
  width: 100%;
  margin: 10px auto;
}

.jumbotron {
  background: none;
  position: relative;
  height: 100vh;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 40px;
  display:none;
}

.admintext {
  margin-top: 50px;
}

.admintable {
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}

.at1 {
  width: 15%
}

.at2 {
  width: 25%
}

.at3 {
  width: 35%
}

.at4 {
  width: 8%
}

.at5 {
  width: 10%
}

.at6 {
  width: 10%
}

.formfirst {
  text-align: center;
  flex: 1;          
  min-width: 200px;
}

.formfirst input,.formfirst p,
.formsecond select,.formsecond textarea,
.formsecond input {
  margin: auto;
  max-width: 80%;
}

.formsecond {
  padding-top: auto;
  padding-bottom: auto;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.loginform {
  display: flex;
  flex-wrap: wrap;
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}


/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

@media screen and (min-width: 768px) {

  .BilderSlideshow {
     padding: 24px 0;
  }

  .Reservierung {
    font-size: 32px;
  }

  .Startbereich {
    font-size: xx-large;
  }

  .countdown {
  width: 550px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .artist-center-2 {
    margin-left: 25%;
  }

  .at3 {
    display: none;
  }

}

@media screen and (min-width: 1200px) {

  .artist-center-1 {
    margin-left: 16.5%;
  }

}

@media screen and (max-width: 768px) {

  .at3 {
    display: none;
  }

  .at2 {
    display: none;
  }

  .at5 {
    display: none;
  }

}

@media screen and (min-width: 992px) {

  .StartBilder {
    max-width: 930px;
  }

}



/* ----About-Seite---- */

.img-responsive-about, {
  display: block;
  width: 80%;
  height: auto;
}

.img-center {
  margin: 0 auto;
}

/* ----Transparentes Panel---- */

.panel-transparent {
  margin-top: 40px;
  background: none;
  border-color: transparent;
  color: white;
}

.panel-transparent .panel-heading{
  border-color: transparent;
  background: rgba(122, 130, 136, 0.8)!important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel-transparent .panel-heading h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-transparent .panel-body{
  border-color: transparent;
  background: rgba(46, 51, 56, 0.8)!important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#map {
    height: 600px; 
    margin-top: 40px; 
    margin-bottom: 40px;
}